.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
    background-size: cover;
    background-position: center;
  }
  .wrapper {
    width: 420px;
    background-color: transparent;
    color: #131212;
    border-radius: 10px;
    border: 2px solid rgba(14, 13, 13, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    padding: 30px 40px;
  }
  .wrapper h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    /* border: none; */
    outline: none;
    border: 2px solid rgb(193, 194, 189);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
    color: bl;
  }
  
  .input-box .icon {
    position: absolute;
    right: 20px;
    top: 40%;
    transform: translate(-50%);
    font-size: 16px;
  }
  
  .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  
  .remember-forgot label input {
    accent-color: black;
    margin-left: 4px;
  }

  /* .checkbox {
    border: 2px solid red;
  }
   */
  .remember-forgot a {
    color: black;
    text-decoration: none;
  }
  
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  
  .wrapper button {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    background: #323ff5;
    border-radius: 15px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color:black;
    font-weight: 700;
  }
  
  .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  }
  
  .register-link .signup-btn {
    color: #080808;
    text-decoration: none;
    font-weight: 600;
    background: none;
  }
  
  .register-link .signup-btn:hover {
    text-decoration: underline;
  }
  